/* Custom Gallery Style */

:root {
	--gallery-background-color: #dbddf1;
	--gallery-background-color-dark: #1a1a1d;
}

img{
	max-width: 100%;
}
.gallery{
	background-color: var(--gallery-background-color-dark);
	padding: 80px 0;
}
.gallery img{
	background-color: #ffffff;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}
#gallery-modal .modal-img{
	width: 100%;
}

/* Custom Card Image Style */
@media only screen and (min-width: 768px) {
	.custom-card-image-style {
	  width: 50%;
	}
  }